<div>
        Please check data connectivity on your mobile.

</div>
<div>
    Did this resolve your issue?
</div>
<div>
    If yes
    <a href="Thankyou.html" class="toggleChat">Click here</a>
</div>
<div>
    If no
    <a href="3/35/3/2.html" class="toggleChat">Click me</a>
</div>