<div>
    Go to settings and click on the 3 dots at the top right and select Reset Corporate Settings

</div>
<div>
    Did this resolve your issue

</div>
<div>
    If yes
    <a href="Thankyou.html" class="toggleChat">Click here</a>
</div>
<div>
    If no
   <button id="abc">Agent Connect</button>
</div>