<div>
        Check if the cable is properly connected at both the wall socket and the phone.
</div>

<div>
        Did this resolve your issue?
    </div>
    <div>
        If yes
        <a href="Thankyou.html" class="toggleChat">Click here</a>
    </div>
    <div>
        If no 
        <button id="abc">Agent Connect</button>
    </div>