<div>
    Please close and relaunch the application
</div>
<div>
    Did this resolve your issue?
</div>
<div>If yes
    <a href="BOT/Thankyou.html" class="toggleChat">Click here</a>
</div>
<div>If no 
    <a href="3/32/2/2.html" class="toggleChat">Click here</a>
</div>