<div>Please hard reboot your system by turning it off and on
    </div>
    <div>If yes
            <a href="BOT/Thankyou.html" class="toggleChat">Click here</a>
        </div>
        <div>If no 
            <button id="abc">Agent Connect</button>
        </div>