<div>If there are email delays
    <a href="3/35/1/1.html" class="toggleChat">Click here</a>
</div>
<div>If there is any issue with zimbra/outlook
    <a href="3/35/2/1.html" class="toggleChat">Click here</a>
</div>
<div>If you are facing an issue with mass 360
    <a href="3/35/3/1.html" class="toggleChat">Click here</a>
</div>
<div>For other email issues
    <button id="abc">Agent Connect</button>
</div>