<div>If your system is hung or unresponsive
    <a href="3/32/1/1.html" class="toggleChat">Click here</a>
</div>
<div>
        For general application issues 
        <a href="3/32/2/1.html" class="toggleChat">Click here</a>
</div>
<div>
    For Citrix related issues 
        <a href="3/32/3/1.html" class="toggleChat">Click here</a>
</div>
<div>
    For other software related issues 
        <button id="abc">Agent Connect</button>
</div>
<div>
    To return to the  main Menu 
        <a href="BOT/MainPage.html" class="toggleChat">Click here</a>
</div>
<div>
     To go back to the previous menu 
        <a href="3/3.2.html" class="toggleChat">Click here</a>
</div>