<div>
    Please hard boot your system by urning it off and on
</div>
<div>
    Did this resolve your issue?
</div>
<div>
    If yes 
    <a href="Thankyou.html" class="toggleChat"> Click here</a>
</div>
<div>
    If no <button id="abc">Agent Connect</button>
</div>