<div>Please check if monitor cable is properly connected</div>
<div id="showMenu">
    <div>
        Did this resolve your issue?
    </div>

    <div>
        If yes
        <a href="Thankyou.html" class="toggleChat">Click here</a>,
        <br> If no
        <a href="3/3.1/1.2.html" class="toggleChat">Click here</a>

    </div>
</div>