<div>
        Please clear old and unwanted emails from your mailbox

</div>
<div>
    Did this resolve your issue

</div>
<div>
    If yes
    <a href="Thankyou.html" class="toggleChat">Click here</a>
</div>
<div>
    If no 
    <a href="3/35/2/2.html" class="toggleChat">Click here</a>
</div>