<div>
    Please close and relaunch the e-mail application

</div>
<div>
    Did this resolve your issue?
</div>
<div>
    If yes
    <a href="Thankyou.html" class="toggleChat">Click here</a>
</div>
<div>
    If no
    <a href="3/35/2/3.html" class="toggleChat">Click me</a>
</div>