<div>
    Please hard reboot your system by turning it on and off
</div>
<div>
    Did this resolve your issue?
</div>
<div>
    If yes
    <a href="hankyou.html" class="toggleChat">Click here</a>
</div>
<div>
    If no
    <button id="abd">Agent Connect</button>
</div>