<div>
        Are you able to access the internet or any corporate application?

</div>

<div>
        Did this resolve your issue?
    </div>
<div>If yes
        <button id="abc">Agent Connect</button>
    </div>
    <div>If no 
        <a href="3/33/3/2.html" class="toggleChat"> Click here</a>
    </div>