<div>Are you able to access the internet or any corporate application? 
    </div>
    <div>
        If Yes,
        Connecting you to one of our service desk representatives
        <button id="abc">Agent Connect</button>
    </div>
    <div>
        If no <a href="3/32/3/2.html" class="toggleChat">Click here</a>
    </div>