<div>
    <div>
        For Despktop issues
        <a href="3/3.1/1.html" class="toggleChat">Click here</a>
    </div>

    <div>
        For printer/scanner
        <a href="3/3.2/1.html" class="toggleChat">Click here</a>
    </div>
    <div>
        Other hardware press 3
        <button id="abc"> Agent Connect </button>
    </div>
    <div>Other hardware <button id="abc">Agent Connect</button></div>
    <div>
        To return to main menu <a href="Mainpage.html" class="toggleChat">Click here</a>
    </div>
    <div>
        To return to the previous menu
        <a href="3.html" class="toggleChat">Click here</a>
    </div>
</div>