<div>
        If your system is hung or unresponsive
        <a href="3/32/1/1.html" class="toggleChat">Click here</a>
</div>
<div>For general application issues
        <a href="3/32/2/1.html" class="toggleChat">Click here</a>
</div>
<div>For citrix Related issues
        <a href="3/32/3/1.html" class="toggleChat"></a>
</div>