<div>
    If your intenet is not working <a href="http://10.33.186.228/ChatBot/BOT/3/33/1/1.html">Click here</a>
</div>
<div>
        If you are facing web based application issues
        <a href="3/33/2/1.html" class="toggleChat">Click here</a>
</div>
<div>
    For Lync/Skype issues
    <a href="3/33/3/1.html" class="toggleChat">Click here</a>
</div>
<div>
    For other internet issues
    <button id="abc">Agent Connect</button>
</div>