<div>
    Is your LAN cable connected? Please check if the internet cable is connected.
</div>

<div>
    Did this resolve your issue?
</div>
<div>If yes
    <a href="Thankyou.html" class="toggleChat">Click here</a>
</div>
<div>If no
    <a href="3/33/2/2.html" class="toggleChat">Click here</a>
</div>