

    <div>Please log ontohttps://idm.wns.com to reset password or unlock account. </div>
    <div>Did this resolve your issue, if no then
        <button id="idforagentconnect">Click</button>
    </div>
