
    <div>
        If your issue is hardware related
        <a href="3/3.1.html" class="toggleChat">Click here</a>
    </div>
    <div>If your issue is software related
        <a href="3/32/1.html" class="toggleChat">Click here</a>
    </div>
    <div>
        If you are unable to access the internet 
        <a href="3/33/1.html" class="toggleChat">Click here</a>
    </div>
    <div>
        For telephony issues
        <a href="3/34/1.html" class="toggleChat">Click here</a>
    </div>
    <div>
        If you are unable to access your email 
        <a href="3/35/1.html" class="toggleChat">Click here</a>
    </div>
    <div>
        To return to main menu
        <a href="MainPage.html" class="toggleChat">Click here</a>
    </div>
    
 