<div>
    Please type your 7 digit Ticket Number
</div>
<div>
    <input type="text" name="txtTicketNumber" id="txtTicketNumber" class="form-control" placeholder="Ticket number">
    <button id="btnTicketNumber"  onclick="getStatus();return false;">Submit</button>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script>
    let getTicketStatus = function () {
        var url = "http://10.33.186.228/ChatBot/GetTicketStatus.aspx";
        let ticketNumber = $("#txtTicketNumber").val();
        let datum = {
            Id: ticketNumber
        };
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: datum,
            success: OnSuccessCall,
            error: OnErrorCall
        });
    };
    function OnSuccessCall(response) {
        if (response.Code==="00"){

        }
        else if (response.Code === "99") {
            let failureScenario = "<div>" + data.d.Message + "</div><br/> <div>Please try again!</div><br/>";
            $("#divMainPage").append(failureScenario);
            $.get("http://10.33.186.228/ChatBot/BOT/5.html?token=" + $.now(), function (html) {
                $("#divMainPage").append(html);
            });
        }
    }
    function OnErrorCall(response) {
        console.log(response);
        let rows = eval('([' + response.myData + '])');
        alert(response.status + " " + response.statusText);
    }
    function getStatus() {

        let ticketNumber = $("#txtTicketNumber").val();
        let datum =  {
            Id: ticketNumber           
        };

      let abc=  fun();
      console.log(abc);
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: "http://10.33.186.228/ChatBot/ServiceBot.asmx/getTicketStatus",
            data: JSON.stringify(datum),
            dataType: "json",
            success: function (data) {
                console.log(data);               
                if (data.d.Code === "00") {
                    // success work

                }
                else if (data.d.Code === "99") {

                    let failureScenario = "<div>" + data.d.Message + "</div><br/> <div>Please try again!</div><br/>";
                    $("#divMainPage").append(failureScenario);
                    $.get("5.html?token=" + $.now(), function (html) {
                        $("#divMainPage").append(html);
                    });
                }
            },
            failure: function (data) {
                alert(data);
                console.log(data);
            }
        });
    }

    let fun = function () {
        function fun() {
            let ticketNumber = $("#txtTicketNumber").val();
            var data = "hello";
            $.post('http://localhost/ChatBot/serviceBOT.asmx/getTicketStatus?Id=' + ticketNumber, {}, function (response) {
                data = response;
            }).error(function () {
                alert("Sorry could not proceed");
            });

            return data;
        }
    };
    let getRandomNumber = function () {
        return Math.floor(100000000 + (Math.random() * 900000000));
    };
</script>
