<div>
    Thank you for contacting WNS Service Desk.
</div>

<script type="text/javascript">


	$("#tryAppend :input").attr("disabled", true);
	$('#tryAppend a').click(function () { return false });
	// $("#tryAppend *").prop('disabled', true);
	// $(document).on('click', 'a', function (e) {
	// 	e.preventDefault();
	// 	return false;
	// });
</script>