<div>Please try turning on the printer or scanner
    </div>
    <div>
            Did this resolve your issue?
        </div>
    <div>
            If yes
            <a href="Thankyou.html">Click here</a>
            <br> If no
            <a href="3/3.2/1.4.html">Click here</a>
        </div>