<div>Please check the printer tray for sufficient A4 size paper to print
    </div>
    <div>
            If yes
            <a href="Thankyou.html" class="toggleChat">Click here</a>
            <br> If no
            <button id="abc">Agent Connect</button>
        </div>