<div>
        Is the printer showing up under the list of printers/scanners? You can find this under control panel.
</div>
<div>
    Did this resolve your issue?
</div>
<div>
    If Yes 
    <button id="abc">Agent Connect</button>
</div>
<div> If no <a href="3/3.2/2.html" class="toggleChat">Click here</a></div>