<div>
    Is the printer powered on?
</div>
<div>
        If Yes 
        <button id="abc">Agent Connect</button>
    </div>
    <div> If no <a href="3/3.2/1.3.html" class="toggleChat">Click here</a></div>