<div>
    If your phone is in discovery mode
    <a href="3/34/1/1.html" class="toggleChat">Click here</a>
</div>
<div>
        If you are having voice clarity 
    <a href="3/34/2/1.html" class="toggleChat">Click here</a>
</div>
<div>
        If you are unable to dial out press
    <a href="3/34/3/1.html" class="toggleChat">Click here</a>
</div>
<div>
        For any other telephony issues
    <button id="abc">Agent Connect</button>
</div>