<div>
    Please check the appropriate area code of the country you are dialling.
</div>
<div>
    Did this resolve your issue?
</div>
<div>
    If yes
    <a href="Thankyou.html" class="toggleChat">Click here</a>
</div>
<div>
    If no
    <a href="3/34/2/2.html" class="toggleChat">Click me</a>
</div>