<div>Please try dialling the number from another phone
</div>
<div>
    Did this resolve your issue?
</div>
<div>
    If yes
    <a href="Thankyou.html" class="toggleChat">Click here</a>
</div>
<div>
    If no
    <button id="abc">Agent Connect</button>
</div>