<div>
        Please press ctrl alt and del simultaneously on your keyboard and click on task manager. Under task manager select the application and click on end task
</div>
<div>
    Did this resolve your issue?
</div>
<div>If yes 
    <a href="Thankyou.html" class="toggleChat">CLick here</a>
</div>
<div>If no 
    <a href="3/32/1/2.html" class="toggleChat">Click here</a>
</div>