<div>Please hard reboot your system by turning it off and on.</div>
<div>If yes 
        <a href="Thankyou.html" class="toggleChat"> CLick here</a>
    </div>
    <div>If no 
        <button id="abc">Agent Coonect</button>
    </div>